.end-point-menu-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 20%;
    width: 15%;
    min-height: 250px;
    min-width: 212px;
    border-top: none;
    transform: translate(0, 70%);
    background-color: rgb(15, 15, 15);
    transition: .5s;

    -webkit-animation: fadein .7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .7s; /* Firefox < 16 */
     -ms-animation: fadein .7s; /* Internet Explorer */
      -o-animation: fadein .7s; /* Opera < 12.1 */
         animation: fadein .7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.end-point-container{
    width: 100%;
    height: 33.3%;
    font-size: 20px;
    color: white;
    margin: 10px;
    border: none;
    background-color: transparent;
}