html, body, #root{
    margin: 0;
    color: aliceblue;
    background-color: black;
    height: 100%;
    width: 100vw;
    overflow: auto;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

li{
    font-size: 20px;
}

.image-container{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    margin-top: 10%;
    align-items: center;
}

.svg-container{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('http://localhost:3000/layered-waves-haikei-bottom-2.svg');
    height:50%;
    width: 100%;
    background-size: cover;
    background-position: top;
    transform: translate(0, -20px);
}

.svg-upper-container{
    width: 100%;
    /* transform: translate(0, 20%); */
    background-image: url('http://localhost:3000/layered-waves-haikei-upper-2.svg');
    vertical-align: bottom;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height:50%;
    margin-top: 0%;
}

.curve{
    position: absolute;
    height: 255px;
    width: 100%;
    bottom: 0;
}

.curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: black;
    transform: translate(85%, 60%);
}

.curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: blue;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.custom-shape-divider-top-1645120972 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: translate(0, 00px); */
}

.custom-shape-divider-top-1645120972 svg {
    position: relative;
    display: block;
    width: calc(202% + 1.3px);
    height: 189px;
    min-height: 189px;
    /* height: 189px; */
}

.custom-shape-divider-top-1645120972 .shape-fill {
    fill: #201D1D;
}

.media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: 40px 40px;
    height: 5vh;
    width: 100%;
    margin: 10px;
}

.media-button{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: transparent;
    background-position: bottom;
    display: block;
    background-repeat: no-repeat;
    border: transparent;
    margin: 15px;
    cursor: pointer;
}

.projects-tittle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 8vh;
    margin-top: 0px;
}

.projects-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects-tittle-disclaimer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.projects-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

.project-card{
    height: 80%;
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    min-height: 400px;
    background-color: rgb(22, 20, 20);
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.project-tittle{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-tech{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.icon{
    font-size: 30px;
}

.api-button{
    height: 100%;
    width: 100%;
    background-image: "http://localhost:3000/play-btn.svg";
}

@media screen and (max-width: 900px){
    .projects-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}